/**
 * @name lsljfdh
 * @author DevilBro
 * @version 1.0.5
 * @description Allows you to use a background image without greatly altering the basic look of Discord.
 * @source https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground
 * @authorId 278543574059057154
 * @BDEditor BasicBackground
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --background: url('https://static.miraheze.org/projectsekaiwiki/6/6c/Minori_20_trained_art.png');
  --backgroundsize: cover;
  --backgroundposition: center left;
  --backgroundblur: 10px;
  --popout: url('https://cdn.discordapp.com/attachments/966603417327902760/1206272704605462648/naY8gpBp.png?ex=65db6800&is=65c8f300&hm=db18c8417b05e0c85a33d4126d505d273cdea9ffd5ffcca1e5b4161ddb474dd1&=&quality=lossless');
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center left;
  --popoutblur: 10px;
  --transparencycolor: 0,0,0;
  --accentcolor: 233,76,100;
  --backdrop: rgba(0,0,0,0.85);
  --textshadow: transparent;
  --transparencyalpha: 0.3;
  --messagetransparency: 0.5;
  --guildchanneltransparency: 0.28;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0.26;
  --font: Calibri;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 200,200,200;
  --textdark: 204,204,204;
  --textdarker: 152,150,150;
  --textdarkest: 166,161,161;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 3px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #ACE388;
  --rs-idle-color: #FFCDAC;
  --rs-dnd-color: #E9314D;
  --rs-offline-color: #504C5D;
  --rs-streaming-color: #DCA1BE;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


